.ax-input-password-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;

  background: transparent;

  color: inherit;

  cursor: pointer;
}

.ax-input-password-toggle:disabled {
  cursor: not-allowed;
}