/* ========================================
   Appearance Utilities
   ======================================== */

.ax-appearance-auto { appearance: auto; }
.ax-appearance-none { appearance: none; }
.ax-appearance-button { appearance: button; }