.ax-input-vertical{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--ax-space-1);
}

.ax-input-horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--ax-space-1);
}