.ax-menu {

    --ax-menu-bg-color: var(--ax-color-primary);
    --ax-menu-fg-color: var(--ax-color-white);
    --ax-menu-item-hover-bg-color: var(--ax-color-secondary);
    --ax-menu-item-hover-fg-color: var(--ax-color-white);
    --ax-menu-item-active-bg-color: var(--ax-color-accent);
    --ax-menu-item-active-fg-color: var(--ax-color-white);

    --ax-menu-header-height: var(--ax-header-height);
    --ax-menu-footer-height: var(--ax-footer-height);
}

.ax-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--ax-menu-width);
    background-color: var(--ax-menu-bg-color);
    transition: var(--ax-g-transition-all);
    box-shadow: var(--ax-g-box-shadow);
    z-index: 9999;
    user-select: none;
}

.ax-menu-header {
    height: var(--ax-menu-header-height);
}

.ax-menu-body {
    height: calc(100% - var(--ax-menu-header-height) - var(--ax-menu-footer-height));
    overflow: auto;
}

.ax-menu-footer {
    height: var(--ax-menu-footer-height);
}

.ax-menu-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.8s ease-in-out;
}

.ax-menu-collapsed .ax-menu-toggle {
    right: -32px;
}

.ax-menu-expanded .ax-menu-toggle {
    right: 8px;
}